<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Setup GitHub | BundleWatch</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/bundlewatch/bundlewatch.io/master/docs/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://raw.githubusercontent.com/bundlewatch/bundlewatch.io/master/docs/favicon.ico" type="image/x-icon">
    <link href="/static/setup-github-styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<article class="container">
    <header>
        <div class="logo">
            <a target="_blank" href="http://bundlewatch.io/">
                <img src="https://cdn.rawgit.com/bundlewatch/bundlewatch.io/master/docs/_assets/logo-large.svg"
                     height="100">
            </a>
        </div>
    </header>
    <div class="card">
        <img alt="Build status image preview" src="https://cdn.rawgit.com/bundlewatch/bundlewatch.io/master/docs/_assets/build-status-preview.png" width="800" />
        <div style="margin: 48px auto">
            {{#token}}
                <h3>Your GitHub bundlewatch token</h3>
                <code>{{token}}</code>
                <p>Setup bundlewatch on your Pull Requests by adding the above token to CI as an environment variable</p>
                <code>BUNDLEWATCH_GITHUB_TOKEN</code>
            {{/token}}
            {{^token}}
                <p>Setup bundlewatch on your Pull Requests by Authorizing bundlewatch on Github</p>
                <a class="btn" data-title='Authorize on Github' href="https://github.com/login/oauth/authorize?scope=repo%3Astatus&client_id=04fcf325dd26ca2a159f"></a>
            {{/token}}
        </div>
        <p style="padding-top: 24px; text-align: right;">
            Additional documentation available at <a href="http://bundlewatch.io">bundlewatch.io</a>
        </p>
     </div>
</article>

{{> partials/footer}}

</body>
</html>
