html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    color: rgb(54, 69, 79);
}
body {
    background: #efefef;
}
table {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%
}
td {
    overflow: hidden;
    text-overflow: ellipsis;
}
.logo {
    display: block;
    margin: 50px auto;
    width: 20%;
}
.container {
    margin: 0 auto;
    width: 70%;
}
.big {
    font-size: 25px;
}
.big-icon {
    font-size: 32px!important;
    margin-right: 8px;
}
.build-info {
    padding: 12px;
    background: #fff;
    height: 56px;
    clear:left;
}
.build-info-text {
    display: inline-flex;
    vertical-align: middle;
}
.repo-info {
    padding: 12px;
}
.repo-info a {
    color: #d54400;
}

.column-header {
    padding: 10px 0;
    text-align: left;
}
.column-status {
    text-align: center;
    width: 7.5%;
}
.column-file {
    width: 37.5%;
}
.column-bundle {
    padding: 0 10px;
    width: 25%;
}
.column-now {
    width: 10%;
}
.column-diff {
    width: 10%;
}
.column-max {
    width: 10%;
}
.row-header {
    background-color: #fafafa;
    height: 50px;
}
.cell-status {
    padding: 12px;
    text-align: center;
}
.cell-pass {
    color: #38c099;
}
.cell-warn {
    color: #ffcd52;
}
.cell-fail {
    color: #d54400
}
.cell-removed {
    color: #4a81ea
}
.dark {
    color: #192235;
}
.light {
    color: #969FA5;
}
.card {
    margin-bottom: 24px;
    background: #FFF;
    box-shadow: 0px 3px 5px 2px rgba(201, 214, 255, 0.15);
}
.progress-bar-cell {
    padding: 0 10px;
}
.progress-bar-container {
    background-color: #f4f6f8;
    height: 12px;
}
.progress-bar {
    float: left;
}
.progress-bar-last-size {
    background-color: #000051;
    height: 12px;
}
.progress-bar-pass {
    background-color: #38c099;
    height: 12px;
}
.progress-bar-pass-negative {
    background-color: #000051;
    opacity: 0.5;
    height: 12px;
}
.progress-bar-warn {
    background-color: #ffcd52;
    height: 12px;
}
.progress-bar-fail {
    background-color: #d54400;
    height: 12px;
}
