@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600");
* {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #36454f;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    background: #f7f7f7;
}
table {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%
}
td, th {
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-width: 450px;
}
.logo {
    display: block;
    margin: 50px auto;
    text-align: center;
}
.container {
    margin: 0 12px;
}
@media(min-width: 1000px) {
    .container {
        margin: 0 auto;
        width: 70%;
    }
}
.big {
    font-size: 25px;
}
.big-icon {
    font-size: 32px!important;
    margin-right: 8px;
}
.build-info {
    min-width: 650px;
    padding: 12px;
    background: #fff;
    min-height: 56px;
}
.build-info-text {
    display: inline-flex;
    vertical-align: middle;
}
.repo-info {
    padding: 12px;
}
a {
    color: #d54400;
}

.column-header {
    text-align: left;
}
.column-status {
    text-align: center;
    width: 7.5%;
}
.column-file {
    width: 37.5%;
}
.column-bundle {
    width: 25%;
}
.column-now {
    width: 10%;
}
.column-diff {
    width: 10%;
}
.column-max {
    width: 10%;
}
.row-header {
    background-color: #fafafa;
    height: 50px;
}
.cell-status {
    padding: 12px;
    text-align: center;
}
.cell-pass {
    color: #38c099;
}
.cell-warn {
    color: #ffcd52;
}
.cell-fail {
    color: #d54400
}
.cell-removed {
    color: #4a81ea
}
.dark {
    color: #192235;
}
.light {
    color: #969FA5;
}
.card {
    min-width: 650px;
    background: #FFF;
    box-shadow: 0px 3px 5px 2px rgba(201, 214, 255, 0.15);
}
.progress-bar-container {
    background-color: #f4f6f8;
    height: 12px;
}
.progress-bar {
    float: left;
}
.progress-bar-last-size {
    background-color: #000051;
    height: 12px;
}
.progress-bar-pass {
    background-color: #38c099;
    height: 12px;
}
.progress-bar-pass-negative {
    background-color: #000051;
    opacity: 0.5;
    height: 12px;
}
.progress-bar-warn {
    background-color: #ffcd52;
    height: 12px;
}
.progress-bar-fail {
    background-color: #d54400;
    height: 12px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    margin: 24px;
}

.footer {
    color: #d54400;
}

.footer a {
    margin: 0 8px;
}
